.header {
  display: -ms-grid;
  display: grid;
  width: 98vw;
  grid-auto-flow: row;
  position: fixed;
  z-index: 30; }
  .header__logo {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    grid-area: logo; }
  .header____navButton {
    grid-area: navButton; }
  .header__nav {
    grid-area: nav;
    padding: 20px;
    display: none; }
    .header__nav--show {
      display: -ms-grid;
      display: grid; }

.header-grid {
  display: -ms-grid;
  display: grid;
  padding: 20px 20px 10px;
  grid-template-areas: "logo navButton" "nav .";
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 3px 5px -1px #757575; }

.logo__picture {
  max-width: 150px;
  max-height: 23px; }

.nav-toggle {
  position: relative;
  right: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  transition: .5s ease-in-out; }
  .nav-toggle--width {
    width: 24px; }
  .nav-toggle__burgerLine {
    display: block;
    height: 3px;
    background-color: #4F2F60;
    border-radius: 9px;
    opacity: 1;
    transition: .25s ease-in-out; }
    .nav-toggle__burgerLine--hide {
      width: 0px; }
    .nav-toggle__burgerLine--rotate45d {
      transform: rotate(45deg);
      position: absolute; }
    .nav-toggle__burgerLine--rotate-45d {
      transform: rotate(-45deg);
      position: absolute; }

.nav-toggle-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 3px;
  position: absolute;
  left: 0; }

.nav-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px; }

@media (min-width: 768px) {
  .header__navButton {
    display: none; }
  .header__nav {
    display: -ms-grid;
    display: grid; }
  .header-grid {
    grid-template-areas: "logo nav"; }
  .nav-grid {
    grid-auto-flow: column; } }

.section-main {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  text-align: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-grid-column-align: center;
      justify-items: center;
  -ms-flex-pack: stretch;
      justify-content: stretch; }
  .section-main__trainImg {
    max-height: 440px;
    width: 100%; }

@media (min-width: 768px) {
  .section-main__title {
    white-space: pre;
    line-height: 0.5; } }

@font-face {
  font-family: 'muliblack';
  src: url(fonts/muli-black-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mulibold';
  src: url(fonts/muli-bold-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mulilight';
  src: url(fonts/muli-light-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'muliregular';
  src: url(fonts/muli-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mulisemibold';
  src: url(fonts/muli-semibold-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit;
  font-size: 18px; }
  a:hover {
    font-size: 20px;
    cursor: pointer; }

ol, ul {
  list-style: none; }

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  color: #f4004a;
  font-family: 'mulibold';
  color: #d83b01;
  color: #4F2F60; }

h1 {
  font-family: 'muliblack';
  font-size: 28px;
  color: #C9131B;
  color: #f4004a;
  color: #d83b01;
  color: #C62424;
  color: #be2c37;
  color: #41274F;
  color: #4F2F60; }

section {
  padding-top: 20px;
  min-height: 80vh; }

button {
  display: -ms-grid;
  display: grid;
  font-family: "mulisemibold";
  padding: 15px 35px;
  background-color: #4F2F60;
  color: white; }
  button:hover {
    cursor: pointer;
    background-color: white;
    color: #4F2F60; }

.content {
  display: -ms-grid;
  display: grid;
  padding-top: 100px;
  grid-auto-flow: row;
  color: black;
  font-family: "muliregular"; }

header {
  color: #4F2F60;
  background-color: #FFF7DB;
  font-family: "mulisemibold"; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/