* {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  cursor: pointer; }

.loaderArea {
  background: linear-gradient(90deg, #0d8f3a 10%, #785006 90%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000; }

.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px; }

.loader:before,
.loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 0; }

.loader:before {
  animation: animate 3s infinite linear; }

@keyframes animate {
  0% {
    transform: rotate(0) skew(0); }
  100% {
    transform: rotate(180deg) skew(360deg); } }

.loader:after {
  animation: animate2 3s infinite linear; }

@keyframes animate2 {
  0% {
    transform: rotate(0) skew(0); }
  100% {
    transform: rotate(-180deg) skew(-360deg); } }

.bg-opacity {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 1, 1, 0.75); }

.modal-window, .menu-window {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 150;
  color: black;
  text-align: center; }
  .modal-window .modal-window-wrapper, .menu-window .modal-window-wrapper, .modal-window .task-wrapper .task-content, .menu-window .task-wrapper .task-content, .menu-window .menu-window-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 98vh;
    border: 1px solid black; }
    .modal-window .modal-window-wrapper .modal-window-background, .menu-window .modal-window-wrapper .modal-window-background, .modal-window .task-wrapper .task-content .modal-window-background, .menu-window .task-wrapper .task-content .modal-window-background, .menu-window .menu-window-wrapper .modal-window-background, .menu-window .menu-window-wrapper .menu-window-background {
      background: url(../img/ModalWindow.png);
      background-size: 100% 100%;
      font-family: 'indie_flowerregular';
      font-weight: 700;
      font-size: 25px; }
      .modal-window .modal-window-wrapper .modal-window-background .spell-choosing-content, .menu-window .modal-window-wrapper .modal-window-background .spell-choosing-content, .modal-window .task-wrapper .task-content .modal-window-background .spell-choosing-content, .menu-window .task-wrapper .task-content .modal-window-background .spell-choosing-content, .menu-window .menu-window-wrapper .modal-window-background .spell-choosing-content, .menu-window .menu-window-wrapper .menu-window-background .spell-choosing-content {
        display: grid;
        grid-row-gap: 10px;
        padding: 65px 100px; }
        .modal-window .modal-window-wrapper .modal-window-background .spell-choosing-content ul, .menu-window .modal-window-wrapper .modal-window-background .spell-choosing-content ul, .modal-window .task-wrapper .task-content .modal-window-background .spell-choosing-content ul, .menu-window .task-wrapper .task-content .modal-window-background .spell-choosing-content ul, .menu-window .menu-window-wrapper .modal-window-background .spell-choosing-content ul, .menu-window .menu-window-wrapper .menu-window-background .spell-choosing-content ul {
          display: grid;
          grid-row-gap: 10px; }
          .modal-window .modal-window-wrapper .modal-window-background .spell-choosing-content ul li, .menu-window .modal-window-wrapper .modal-window-background .spell-choosing-content ul li, .modal-window .task-wrapper .task-content .modal-window-background .spell-choosing-content ul li, .menu-window .task-wrapper .task-content .modal-window-background .spell-choosing-content ul li, .menu-window .menu-window-wrapper .modal-window-background .spell-choosing-content ul li, .menu-window .menu-window-wrapper .menu-window-background .spell-choosing-content ul li {
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px; }
            .modal-window .modal-window-wrapper .modal-window-background .spell-choosing-content ul li:hover, .menu-window .modal-window-wrapper .modal-window-background .spell-choosing-content ul li:hover, .modal-window .task-wrapper .task-content .modal-window-background .spell-choosing-content ul li:hover, .menu-window .task-wrapper .task-content .modal-window-background .spell-choosing-content ul li:hover, .menu-window .menu-window-wrapper .modal-window-background .spell-choosing-content ul li:hover, .menu-window .menu-window-wrapper .menu-window-background .spell-choosing-content ul li:hover {
              cursor: pointer;
              font-size: 28px;
              color: lightyellow; }
  .modal-window .task-wrapper, .menu-window .task-wrapper {
    display: none; }
    .modal-window .task-wrapper .task-content .task-window-background, .menu-window .task-wrapper .task-content .task-window-background {
      background: url("../img/TaskWindow.png");
      background-size: 100% 100%; }
      .modal-window .task-wrapper .task-content .task-window-background .task, .menu-window .task-wrapper .task-content .task-window-background .task {
        display: grid;
        grid-row-gap: 10px;
        padding: 65px 100px; }

.menu-window .menu-window-wrapper .menu-window-background .menu-content {
  padding: 40px 50px;
  font-size: 58px; }

@font-face {
  font-family: 'indie_flowerregular';
  src: url("../fonts/indieflower-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rokkittthin';
  src: url("../fonts/rokkitt-thin-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

button:hover {
  cursor: pointer;
  color: lightyellow; }

.form-wrapper {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url("../img/mainbg.png");
  background-size: 100% 100%;
  font-family: "indie_flowerregular";
  font-size: 40px; }
  .form-wrapper form {
    font-size: 25px;
    padding: 80px 40px;
    display: grid;
    grid-row-gap: 15px;
    justify-items: center;
    background: url("../img/ModalWindow1.png");
    background-size: 100% 100%; }
    .form-wrapper form h2 {
      padding: 10px; }
    .form-wrapper form input {
      font-family: 'rokkittthin';
      border-radius: 10px; }
      .form-wrapper form input[type='submit'] {
        font-weight: 700;
        width: 70%; }
        .form-wrapper form input[type='submit']:hover {
          cursor: pointer;
          border: 1px solid white; }
    .form-wrapper form .game-characters {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 10px;
      align-items: center;
      justify-content: center; }
      .form-wrapper form .game-characters img {
        height: 120px; }
      .form-wrapper form .game-characters label:hover img {
        height: 180px; }

.gameWindow {
  display: none; }
  .gameWindow .gameWindowWrapper {
    display: grid;
    grid-template-rows: 48vh 45vh;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url("../img/mainbg1.png");
    background-size: 100% 100%; }
    .gameWindow .gameWindowWrapper canvas {
      border: 1px solid black; }
    .gameWindow .gameWindowWrapper .gameInterface {
      color: white;
      font-size: 40px;
      font-family: 'indie_flowerregular';
      display: grid;
      grid-gap: 15px;
      border: 1px solid white;
      padding-top: 15px; }
      .gameWindow .gameWindowWrapper .gameInterface .menu {
        display: grid;
        justify-items: end;
        align-items: center; }
      .gameWindow .gameWindowWrapper .gameInterface .health-bar {
        margin: 0px 30px;
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between; }
        .gameWindow .gameWindowWrapper .gameInterface .health-bar .monster-data {
          text-align: right; }
        .gameWindow .gameWindowWrapper .gameInterface .health-bar .name {
          color: yellow;
          padding-bottom: 10px;
          font-weight: bold; }
      .gameWindow .gameWindowWrapper .gameInterface .spell-menu {
        display: grid;
        justify-content: center;
        align-items: center; }
        .gameWindow .gameWindowWrapper .gameInterface .spell-menu button:hover {
          cursor: pointer; }
