* {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  cursor: pointer; }

input[type="submit"],
input[type="button"],
button {
  background: none;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

@font-face {
  font-family: 'rokkittmedium';
  src: url("../fonts/rokkitt-medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rokkittregular';
  src: url("../fonts/rokkitt-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rokkittsemibold';
  src: url("../fonts/rokkitt-semibold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rokkittthin';
  src: url("../fonts/rokkitt-thin-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rokkittblack';
  src: url("../fonts/rokkitt-black-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rokkittbold';
  src: url("../fonts/rokkitt-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rokkittextrabold';
  src: url("../fonts/rokkitt-extrabold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rokkittextralight';
  src: url("../fonts/rokkitt-extralight-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rokkittlight';
  src: url("../fonts/rokkitt-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 16px;
  font-family: "rokkittregular";
  display: grid;
  grid-template-rows: 100vh 100vh 100vh 100vh auto; }
  body h2 {
    font-size: 60px; }

section {
  background-color: #EFEFEF;
  padding: 20px;
  display: grid; }
  section.main {
    background-color: lightyellow;
    text-align: center; }
    section.main menu {
      font-size: 25px;
      padding: 15px; }
      section.main menu ul {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        justify-items: end;
        grid-column-gap: 30px; }
        section.main menu ul a:hover {
          border: 1px solid black; }
    section.main h1 {
      font-size: 120px; }
    section.main button {
      font-size: 40px;
      background-color: rgba(214, 214, 214, 0.5);
      padding: 5px 15px; }
      section.main button:hover {
        cursor: pointer;
        background-color: rgba(214, 214, 214, 0.7); }
  section.about {
    background-image: url("../img/about-bg.png");
    padding: 20px;
    font-size: 20px;
    text-align: center;
    grid-auto-rows: auto 1fr; }
    section.about .game-description {
      padding-bottom: 15px;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 50px; }
      section.about .game-description h2 {
        font-size: 35px;
        padding: 10px 0px; }
  section.rules {
    align-content: start;
    grid-row-gap: 30px;
    background-image: url("../img/rules-bg.png");
    font-size: 25px;
    text-align: center;
    white-space: pre-line; }
  section.author {
    align-content: start;
    grid-row-gap: 30px;
    justify-content: center;
    justify-items: center;
    background-image: url("../img/about-bg.png");
    font-size: 25px; }
    section.author img.author-photo {
      border-radius: 50%;
      border: 3px solid grey; }
    section.author img.github-icon {
      width: 30px;
      height: 30px;
      background-color: white;
      border: none;
      border-radius: 50%; }
    section.author p {
      max-width: 60%;
      text-align: center; }

footer {
  background-color: black;
  font-size: 16px;
  color: white;
  line-height: 15px;
  padding: 15px; }
